.uk-badge-success {
    background-color: #32d296;
}   
.uk-badge-danger {
    background-color: #f0506e;
}   
.uk-badge-warning {
    background-color: #faa05a;
}   
.uk-badge {
    padding: 10px;
}
body {
    max-width:1500px;
    margin: 0 auto;
    background-color:#f0f0f0 !important;
}
html {
    background-color:#f0f0f0 !important;
} 